@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

@font-face {
  font-family: "Bw Modelica";
  src: url("/repo/fonts/bwmodelica/woff/BwModelica-Regular.woff") format("woff"),
    url("/repo/fonts/bwmodelica/woff2/BwModelica-Regular.woff2") format("woff2"),
    url("/repo/fonts/bwmodelica/otf/BwModelica-Regular.otf format")
      format("opentype"),
    url("/repo/fonts/bwmodelica/eot/BwModelica-Regular.eot");
}

@font-face {
  font-family: "Bw Modelica";
  src: url("/repo/fonts/bwmodelica/woff/BwModelica-Bold.woff") format("woff"),
    url("/repo/fonts/bwmodelica/woff2/BwModelica-Bold.woff2") format("woff2"),
    url("/repo/fonts/bwmodelica/otf/BwModelica-Bold.otf format")
      format("opentype"),
    url("/repo/fonts/bwmodelica/eot/BwModelica-Bold.eot");
  font-weight: bold;
}

/*  ========== RESET BLOCK START ========= */

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Bw Modelica";
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*  ========== RESET BLOCK END ========= */

.btn {
  height: 50px;
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  border-radius: 5px;
}

.btn--add {
  background-color: #FFF;
  color: #c1272d;
  border: 2px solid #c1272d;
}

.btn--add:hover {
  background-color: #c1272d;
  color: #FFF;
  border: 2px solid #c1272d;
}

.btn--talk {
  background-image: linear-gradient(to right, #9b0016, #c1272d);
  color: #FFF;
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

form > .btn {
  margin-top: 28px;
}

.flex__container--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register,
.register__header {
  flex-direction: column;
}

.register__text {
  font-size: 28px;
  font-weight: bold;
}

.register__image {
  height: 150px;
  width: 150px;
  margin-bottom: 28px;
}

.profile__image--circle {
  border-radius: 50%;
}

.register__info {
  margin-top: 28px;
}

.register__form {
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.form--control {
  border-bottom: 1px solid gray;
  margin: 10px;
}

input[name="name"],
input[name="age"] {
  flex-grow: 1;
}

input[name="address"] {
  flex: 0 1 100%;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  .profile__image {
    height: 50px;
    width: 50px;
  }

  .modal__map {
    height: 200px;
    width: 200px;
  }

  .popup {
    width: 100%;
  }
}

.interests {
  display: grid;
  grid-template-areas: "categories list";
  grid-template-columns: 1fr 5fr;
}

.interests__list {
  grid-area: list;
}

.interests__categories {
  grid-area: categories;
}

.interests__form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.interest__item {
  display: inline-block;
  margin: 2px;
  flex: 0 1 calc(25% - 4px);
}

.navbar {
  align-items: center;
  display: flex;
  font-weight: bold;
}

.navbar__logo {
  flex-grow: 1;
}

.navbar__list {
  font-size: 1.3em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2em;
  padding-left: 6em;
}

.nav__item a {
  text-decoration: none;
  color: #FFF;
}

.logo {
  max-width: 20%;
  height: auto;
}

.nav__item + .nav__item {
  margin-left: 10px;
}

/*  ========== MODAL BLOCK START ========= */

.button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: linear-gradient(top, #fff, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15s);
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

button:hover {
  border-color: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0s;
}

.light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay.cancel {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.overlay.cancel:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  max-width: 90%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  max-height: 90%;
  min-width: 30%;
  border-color: #aaa;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 0;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

.close:hover {
  opacity: 1;
}

.content {
  position: relative;
  overflow: auto;
  flex-grow: 1;
}

.popup p {
  margin: 0 0 1em;
}

.popup p:last-child {
  margin: 0;
}

/*  ========== MODAL BLOCK END ========= */

.bola {
  width: 48px;
  height: 48px;
}

.header-background {
  display: block;
  width: 100%;
  height: 40%;
  background: url(./../repo/imgs/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

/*  ========== BOXES ========= */
.boxes-container {
  object-fit: contain;
  height: 50%;
  display: flex;
}

.box-button {
  text-decoration: none;
  text-align: right;
  margin-right: 20%;
  margin-top: 12%;
  font-size: 2em;
}

.box-button a {
  text-decoration: none;
  color: #000;
}

/*  ========== CONECTAR BOX ========= */
.conectar-box {
  background-color: #FFF;
  width: 35%;
  height: 40%;
  margin-left: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.conectar-box img {
  float: left;
  height: 100%;
  object-fit: contain;
}

/*  ========== CONEXOES BOX ========= */
.conexoes-box {
  background-color: #FFF;
  width: 35%;
  height: 40%;
  margin-left: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.conexoes-box img {
  float: left;
  height: 100%;
  object-fit: contain;
}

.regiao-proximos {
  height: 20%;
}
